<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anthe.question2">
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDBZ4OrHN3K7Co5Fg9AyfkEanDqHxttCRU"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dareUser"
            android:label="@string/title_activity_dare_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".customersSheet" />
        <activity android:name=".notifyCustomer"></activity>
    </application>

</manifest>